<app-header titulo="Calificacion"></app-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="PostCalificacion(form)" method="post">
      <ion-toolbar>
          <ion-text>
              <h6>Selecione la Empresa</h6>
          </ion-text>
      </ion-toolbar>
    
      <ion-item>
          <ion-label>Seleccione la Empresa</ion-label>
          <ionic-selectable item-content [(ngModel)]="Empresa" itemValueField="id" itemTextField="nombre"
          [items]="Empresas" [canSearch]="true" (onChange)="portChange($event)" ngModel name="empresa" id="empresa">
            <ng-template selectSearchableLabelTemplate>
              No hay Empresas
            </ng-template>
            <ng-template selectSearchableItemTemplate let-port="item" *ngFor="let empresa of empresas">
                {{empresa.nombre}}
            </ng-template>
          </ionic-selectable>
        </ion-item>
    
        <ion-toolbar>
          <ion-text>
              <h6>Comentario</h6>
          </ion-text>
          <ion-item>
            <ion-input ngModel name="descripcion" id="descripcion"></ion-input>
          </ion-item>
      </ion-toolbar>
      <br>
      <ion-button type="submit" expand="full" color="secondary">Enviar</ion-button>
  </form>
</ion-content>
