<app-header titulo="Informacion"></app-header>

<ion-content text-center>
  <ion-card *ngIf="information">
    <ion-card-header>
      <ion-card-title>
        {{ information.nombre}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="{{information.fotos.url}}">
      <p>Nit: {{information.nit}}</p>
      <p>Direccion:{{information.direccion}}</p>
      <p>Telefono: <a href="tel: {{information.telefono}}">{{information.telefono}}</a></p>
      <p>Ubicacion: </p>
    </ion-card-content>
  </ion-card>

  <ion-card >
    <ion-card-header>
      <ion-card-title>
        Calificaciones
      </ion-card-title>
    </ion-card-header>
    <ion-card-content *ngFor="let infor of information.calificacions">
      <p>Descripcion: {{infor.descripcion}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
