<app-header titulo="Informacion"></app-header>

<ion-content text-center>
  <ion-card *ngIf="information">
    <ion-card-header>
      <ion-card-title>
        {{ information.nombre}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-spinner>
        <img src="{{information.fotos.url}}" style="width: 250px;height: 250px;margin: auto;" >
      </ion-spinner>
      <p>Nit: {{information.nit}}</p>
      <p>Correo: {{information.correo}}</p>
      <p>Horarios: {{information.horarios}}</p>
      <!-- <p>Latitud: {{information.latitud}}</p>
      <p>Longitud: {{information.longitud}}</p> -->
      <p>Ubicacion: <a href="http://maps.google.com/maps?f=q&q={{information.latitud}},{{information.longitud}}&z=3">Ir a ubicacion </a></p>
      <p>Telefono: <a href="tel: {{information.telefono}}">{{information.telefono}}</a></p>
      <p>Telefono auxilio: <a href="tel: {{information.telefonoauxilio24/7}}">{{information.telefono}}</a></p>
    </ion-card-content>
  </ion-card>

  <ion-card >
    <ion-card-header>
      <ion-card-title>
        Calificaciones
      </ion-card-title>
    </ion-card-header>
    <ion-card-content *ngFor="let infor of information.calificacions">
      <p>Descripcion: {{infor.descripcion}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
