<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button color="primary" menu="primerMenu">
          </ion-menu-button>
        </ion-buttons>
        <ion-title color="primary">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let imagen of imagenes">
      <ion-card>
        <img src="{{imagen.imagen.url}}"  style=" width: 600px;height: 200px;">
      </ion-card> 
    </ion-slide>
  </ion-slides>

  
  

  <ion-grid>
    <ion-row>

      <ion-col size="6" routerLink="/lista">
        <div>
          <img src="/assets/mecanica.png">
        </div>
      </ion-col>

      <ion-col size="6" routerLink="/listagomeria">
        <div >
          <img src="/assets/gomeria.png">
        </div>
      </ion-col>

      <ion-col size="6" routerLink="/listagrua">
        <div>
          <img src="/assets/grua.png">
        </div>
      </ion-col>

      <ion-col size="6" routerLink="/listacerrajeria">
        <div>
          <img src="/assets/logollave.png">
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>  

</ion-content>
