<app-header titulo="Login" color="primary"></app-header>

  <ion-header>
      <ion-toolbar>
        <!-- <ion-button color="light" (click)="dismissRegister()">Close</ion-button> -->
        <ion-title>Registro</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content padding>
      <form [formGroup]="loginForm" #form="ngForm" (ngSubmit)="Registro(form)" method="post">
        <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="nombre" type="text" ngModel name="nombre" required></ion-input>
        </ion-item>

        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.nombre">
            <div class="error-message" *ngIf="loginForm.get('nombre').hasError(error.type) && (loginForm.get('nombre').dirty || loginForm.get('nombre').touched)">
              {{error.message}}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Apellidos</ion-label>
          <ion-input formControlName="apellidos" type="text" ngModel name="apellidos" required></ion-input>
      </ion-item>

      <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.apellidos">
            <div class="error-message" *ngIf="loginForm.get('apellidos').hasError(error.type) && (loginForm.get('apellidos').dirty || loginForm.get('apellidos').touched)">
              {{error.message}}
            </div>
          </ng-container>
        </div>
      
        <ion-item>
          <ion-label position="floating">Telefono</ion-label>
          <ion-input formControlName="telefono" type="number" ngModel name="telefono" required></ion-input>
        </ion-item>

        <div class="error-messages">
            <ng-container *ngFor="let error of error_messages.telefono">
              <div class="error-message" *ngIf="loginForm.get('telefono').hasError(error.type) && (loginForm.get('telefono').dirty || loginForm.get('telefono').touched)">
                {{error.message}}
              </div>
            </ng-container>
          </div>
      
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input formControlName="email" type="email" ngModel name="email" required></ion-input>
        </ion-item>

        <div class="error-messages">
            <ng-container *ngFor="let error of error_messages.email">
              <div class="error-message" *ngIf="loginForm.get('email').hasError(error.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                {{error.message}}
              </div>
            </ng-container>
          </div>
      
        <ion-button [disabled]="!loginForm.valid" expand="block" type="submit" expand="full" color="danger" routerLink="/inicio">Registrarse</ion-button>
      </form>
    </ion-content>