  <ion-header>
      <ion-toolbar>
        <ion-title>Registro</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content padding>
      <form #form="ngForm" [formGroup]="loginForm"  method="post">
        
        <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="nombre" type="text" ngModel name="nombre" required></ion-input>
        </ion-item>

        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.nombre">
            <div class="error-message" *ngIf="loginForm.get('nombre').hasError(error.type) && (loginForm.get('nombre').dirty || loginForm.get('nombre').touched)">
              {{error.message}}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Apellidos</ion-label>
          <ion-input formControlName="apellidos" type="text" ngModel name="apellidos" required></ion-input>
       </ion-item>

      <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.apellidos">
            <div class="error-message" *ngIf="loginForm.get('apellidos').hasError(error.type) && (loginForm.get('apellidos').dirty || loginForm.get('apellidos').touched)">
              {{error.message}}
            </div>
          </ng-container>
        </div>
      
        <ion-item>
          <ion-label position="floating">Telefono</ion-label>
          <ion-input formControlName="telefono" type="number" ngModel name="telefono" required></ion-input>
        </ion-item>

        <div class="error-messages">
            <ng-container *ngFor="let error of error_messages.telefono">
              <div class="error-message" *ngIf="loginForm.get('telefono').hasError(error.type) && (loginForm.get('telefono').dirty || loginForm.get('telefono').touched)">
                {{error.message}}
              </div>
            </ng-container>
          </div>
      
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input formControlName="correo" type="email" ngModel name="correo" required></ion-input>
        </ion-item>

        <div class="error-messages">
            <ng-container *ngFor="let error of error_messages.correo">
              <div class="error-message" *ngIf="loginForm.get('correo').hasError(error.type) && (loginForm.get('correo').dirty || loginForm.get('correo').touched)">
                {{error.message}}
              </div>
            </ng-container>
          </div>
      
        <ion-button (click)="Registro(form)" [disabled]="!loginForm.valid" expand="block" type="submit" expand="full" color="danger" routerLink="/inicio">Registrarse</ion-button>
      </form>
    </ion-content>