<ion-app>

    <ion-split-pane when="md" contentId="principal">
          <ion-menu side="start" 
          menuId="primerMenu"
          contentId="principal">
          <ion-header>
          <ion-toolbar color="primary">
            <ion-title>Menú Principal</ion-title>
          </ion-toolbar>
          </ion-header>
          <ion-content>
          <ion-list>

        <ion-menu-toggle autoHide="false">
          <ion-item href="inicio">Inicio</ion-item>
          <ion-item href="reclamo">Denuncia</ion-item>
          <ion-item href="calificacion">Calificacion</ion-item>
        </ion-menu-toggle>


      </ion-list>
      </ion-content>
      </ion-menu>
  <ion-router-outlet id="principal"></ion-router-outlet>
</ion-split-pane>
    
</ion-app>
