<app-header titulo="Lista de Mecanica" color="primary"></app-header>

<ion-content padding>
  <ion-list>

    <ion-card button *ngFor="let empresa of empresas.empresas" [routerLink]="['/', 'lista', empresa.id]">
      <ion-card-header>
        <ion-card-title class="ion-text-nowrap">{{ empresa.nombre }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
          <ion-text>Direccion: {{empresa.direccion}} - Distancia: {{empresa.distancia}} m </ion-text>
          <br/>
          <ion-text>Horarios: {{empresa.horarios}}</ion-text>

          <p>Latitud de Empresa: {{empresa.latitud}}</p>
          <p>Longitud de Empresa: {{empresa.longitud}}</p>
          
          <p>Latitud: {{lat}}</p>
          <p>Longitud: {{lon}}</p>

          <p>Distancia: {{total}}</p>
      
      </ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>